/*Variaveis*/
:root {
    --color-white: #fff;
    --color-dark1: #181818;
    --color-dark2: #1e1e1e;
    --color-purple: #9333ff;
    --color-purple-hover: #4b0082;
}

/*Reset*/
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--color-dark1);
    color: var(--color-white);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Container*/

.container {
    background-color: var(--color-dark2);
    padding: 22px;
    width: 90%;
    border-radius: 20px;
}

/*Header*/
#header {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

h1 {
    font-size: 24px;
}

#date {
    padding: 5px;
    border-radius: 5px;
    border: 0;
    border-bottom: 2px solid var(--color-purple);
    background-color: var(--color-dark1);
    color: var(--color-white);
}

#date::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

/*Info*/
#info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Form*/

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputs {
    padding: 8px;
    border-radius: 5px;
    border: 0;
    border-bottom: 2px solid var(--color-purple);
    background-color: var(--color-dark1);
    color: var(--color-white);
    width: 100%;
    margin: 5px;
}

.inputs:focus {
    border: 0;
    outline: 2px solid var(--color-purple);
}

#nome {
    width: 100%;
    margin-bottom: 10px;
}


/*Selects*/

#selects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

/*Radios*/
.radios {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/*Button*/

button {
    background-color: transparent;
    color: var(--color-white);
    padding: 5px;
    border: 1px solid var(--color-purple);
    border-radius: 10px;
    cursor: pointer;
    transition: ease-in-out .2s;
}

button:hover {
    background-color: var(--color-purple-hover);
}