/*Variaveis*/

:root {
    --color-white: #fff;
    --color-dark1: #181818;
    --color-dark2: #1e1e1e;
    --color-purple: #9333ff;
    --color-purple-hover: #4b0082;
}

/*Reset*/

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--color-dark1);
    color: var(--color-white);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Container*/

.container {
    background-color: var(--color-dark2);
    padding: 22px;
    width: 90%;
    border-radius: 20px;
}

/*Header*/

#header {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

h1 {
    font-size: 24px;
}

#date {
    padding: 5px;
    border-radius: 5px;
    border: 0;
    border-bottom: 2px solid var(--color-purple);
    background-color: var(--color-dark1);
    color: var(--color-white);
}

#date::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

/*Info*/

#info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

/*Form*/

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
}

.input-div {
    position: relative;

}

.inputs {
    padding: 8px;
    border-radius: 5px;
    border: 0;
    border-bottom: 2px solid var(--color-purple);
    background-color: var(--color-dark1);
    color: var(--color-white);
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.inputs:focus {
    border: 0;
    outline: 2px solid var(--color-purple);
}

#placeholder {
    position: absolute;
    max-width: 90%;
    top: 8px;
    left: 10px;
    transition: ease-in-out .2s;
    pointer-events: none;
    color: rgba(255, 255, 255, 0.3);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.input-div input:focus~#placeholder,
.input-div input:valid~#placeholder {
    top: -20px;
    left: 5px;
    font-size: 15px;
    color: var(--color-white);
}

/*Selects*/

#selects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

/*Radios*/

.radios {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#m,
#f,
#o {
    accent-color: var(--color-purple-hover);
}

/*Button*/

button {
    background-color: var(--color-purple);
    color: var(--color-white);
    padding: 10px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: ease-in-out .2s;
}

button:hover {
    background-color: var(--color-purple-hover);
}

/*Span*/
.span-required {
    display: none;
    font-size: 13px;
    margin-top: 5px;
    color: red;
}

/* Toast */
.toast {
    position: fixed;
    top: 30px;
    right: 30px;
    background-color: var(--color-purple-hover);
    color: #fff;
    padding: 16px 24px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translatex(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 9999;
    font-size: 14px;
}

.toast.show {
    opacity: 1;
    transform: translateX(0);
}

.toast.hidden {
    display: none;
}